body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("main web assets/background.png");
}


header {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    margin-bottom: 40px;
    position: fixed;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.social-icons a {
    margin-left: 20px;
}




.m-co {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contain {
    margin: auto;
    width: 40%;
   
}
.project {
    width: 80vh;
    margin: 10px auto;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    
.project {
    background-image: linear-gradient(to right , black, rgb(25, 0, 96));
}



.project-info {
    padding: 20px;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #00369A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;   
}
.btn:hover {
    color: white;
    background-image: linear-gradient(to right, rgba(1, 1, 246, 0.841), rgba(43, 60, 240, 0.84));
    
}

.git {
    display: inline-block;
    padding: 10px 15px;
    margin: 0px 10px    ;
    background-color: #444440b0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;   
}
.git:hover {
    color: white;
    background-image: linear-gradient(to right, rgb(255, 6, 6) , rgb(146, 4, 4));

}
#main-git {
    width: 200px;
    background-color: black;  
}    


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
