body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fefefe;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

header {
    padding: 20px 0;
    text-align: start;
    
    
}
.grad p {
    color: #333;
}

header img {
    height: 50px;
    box-align: left;
    margin: 10px 0px -20px -23px;
   
}

.grad {
    background-image: linear-gradient(to right, white , rgb(176, 176, 176));

}


section {
    padding: 40px 0;
}
body {
    background-image: url("main web assets/jack-gittoes.jpg");
    height: fit-content;

  }

.project {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.project {
    background-image: linear-gradient(to right , black, rgb(25, 0, 96));
}

.project img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 20px;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00369A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;   
}
.btn:hover {
    color: white;
    background-image: linear-gradient(to right, blue, black);
    
}

.git {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 10px    ;
    background-color: #444440b0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;   
}
.git:hover {
    color: white;
    background-image: linear-gradient(to right, rgb(255, 6, 6) , rgb(146, 4, 4));

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
